
.note{
    border-radius: 7px;
    box-shadow: 3px 5px 15px -5px rgba(0,0,0,0.3);
    padding: 10px;
    width: 240px;
    margin: 16px 45px;
    display: inline-block;
}
.note h2{
    font-size: 1.1rem;
    margin-bottom: 6px; 
}
.note p{
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.note .btn-d{
    min-width: 30px !important;
    height: 40px;
    position: relative;
    left: 170px;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
    border-radius: 50% !important;
}
@media (max-width:680px){
    .note{
        width: 150px;
        margin: 16px 20px;
    }
    .note .btn-d{
        left: 90px;
    }
}