.main_note{
    width: 600px;
    padding: 15px 10px 5px 10px;
    margin: 20px auto;
}
form{
    color: #000;
    padding: 15px 10px 5px 10px;
    box-shadow: 3px 5px 15px -5px rgba(0,0,0,0.3);
    border-radius: 10px;
}

input{
    font-size: 1.5rem !important;
    font-weight: bold;
}

input, textarea{
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    margin: 10px 0;
}
.plus-sign{
    color: white;
    cursor: pointer;
}
.btn{
    min-width: 30px !important;
    height: 40px;
    position: absolute;
    left: 520px;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
    border-radius: 50% !important;
    background: #c0e218 !important;
}
