.header{
  width: 100%;
  background-color: #00303f;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0 8px 50px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}
img{
    filter: invert(1);
}
h1{
  color: #f5f4f4;
  padding-left: 15px;
  text-shadow: 2px 2px #41584b;
}